@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
  }

  html, body, #root {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    @apply bg-background text-foreground;
  }

  select, input, textarea, button {
    @apply max-w-full;
  }
}